[flake8]
exclude = venv
          __pycache__
          *.pyc
          __init__.py
          setup.py
ignore = E501 # line too long
         D100 # missing docstring in public module
         D101 # missing docstring in public class
         D102 # missing docstring in public method
         D103 # missing docstring in public function
         D107 # missing docstring in __init__
verbose = 2
doctests = True
format = [%(code)s] %(path)s [%(row)d,%(col)d] %(text)s
show_source = True
statistics = True
count = True
