-r requirements.txt
flake8
flake8-blind-except
flake8-polyfill
pytest
pytest-cov
pytest-mock
isort
black
mypy
tox
codecov
# flask integration
Flask==1.1.1
# aiohttp integration
aiohttp==3.5.4
# optional for asdf-vm
tox-asdf
